.btn_place_bank {
    top: 39.6%;
    left: 83.65%;
  }
  .btn_place_bar {
    top: 64%;
    left: 58.9%;
  }
  .btn_place_factory {
    top: 9.1%;
    left: 21.8%;
  }
  .btn_place_hotel {
    bottom: 4%;
    left: 60.9%;
  }
  .btn_place_office {
    bottom: 16.2%;
    right: 0;
  }
  .btn_place_pier {
    bottom: 16%;
    left: 11.8%;
  }
  .btn_place_railway {
    top: 28.41%;
    left: 63.9%;
  }
  .btn_place_residential-area {
    top: 0;
    left: 80.6%;
  }
  .btn_place_restaurant {
    bottom: 23%;
    left: 75.6%;
  }
  .btn_place_stadium {
    top: 40.7%;
    left: 29.8%;
  }
  